[Unit]
Description=Calibre-web

[Service]
Type=simple
User=calibre-web
Group=calibre-web
ExecStart=/usr/share/webapps/calibre-web/cps.py
WorkingDirectory=/usr/share/webapps/calibre-web/
KillSignal=SIGINT
SendSIGHUP=yes

[Install]
WantedBy=multi-user.target
